@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Montserrat";
}

html,
body {
  height: 100%;
  background-size: 100%;
}

body {
  background: linear-gradient(rgb(136, 130, 130), rgb(209, 173, 14));
}

h1 {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
}

input {
  padding: 5px 5px;
  background-color: #cddbde;
  transition: background 0.5s ease-in-out;
}
input:focus {
  background-color: rgb(250, 231, 231);
}

.password input {
  margin-bottom: 5px;
}

select {
  padding: 5px 5px;
  background-color: #cddbde;
}
select option {
  background-color: antiquewhite;
}

.agreement,
.signIn {
  padding-top: 5px;
  font-size: 14px;
}
.agreement p {
  margin-left: 20px;
}
.agreement input {
  position: absolute;
  margin-top: 2px;
}

button {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 6px 10px;
  border: #7b7b7b 1px solid;
  border-radius: 8px;
  background-color: #a9a9a9;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
button:hover,
button:focus {
  background-color: #d3d2d2;
  opacity: 0.8;
  transform: scale(1.05);
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 15px;
  border: #7b7b7b 3px solid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
form label {
  display: block;
}

.lang,
.btn,
.signIn,
.agreement {
  grid-column: 1 / 3;
}

.login,
.email,
.password {
  grid-column: 1 / 2;
}

.cat {
  width: 100px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  animation: fly 15s infinite;
}
.cat {
  top: 0;
  left: -10%;
}

@keyframes fly {
  0 {
    left: -10%;
    top: 0;
  }
  23% {
    left: 110%;
    top: 0;
    transform: translate(-100%, 0);
  }

  25% {
    left: 110%;
    top: 0;
    transform: translate(-100%, 0) rotate(90deg);
  }

  48% {
    left: 110%;
    top: 115%;
    transform: translate(-100%, -100%) rotate(90deg);
  }

  50% {
    left: 110%;
    top: 115%;
    transform: translate(-100%, -100%) rotate(180deg);
  }
  73% {
    left: -10%;
    top: 115%;
    transform: translate(0, -100%) rotate(180deg);
  }
  75% {
    left: -10%;
    top: 115%;
    transform: translate(0, -100%) rotate(270deg);
  }

  98% {
    left: -10%;
    top: 0;
    transform: rotate(270deg);
  }
  100% {
    left: -10%;
    top: 0;
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 540px) {
  form {
    padding: 15px 40px 15px 40px;
    max-width: 400px;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(4);
  }

  .login {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .password {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .lang {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .agreement {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .signIn {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .btn {
    max-width: 200px;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cat {
    top: 0;
    left: 5%;
  }
  @keyframes fly {
    0 {
      left: 5%;
      top: 0;
    }
    23% {
      left: 95%;
      top: 0;
      transform: translate(-100%, 0);
    }

    25% {
      left: 95%;
      top: 10%;
      transform: translate(-100%, 0) rotate(90deg);
    }

    48% {
      left: 95%;
      top: 90%;
      transform: translate(-100%, -100%) rotate(90deg);
    }

    50% {
      left: 95%;
      top: 90%;
      transform: translate(-100%, -100%) rotate(180deg);
    }
    73% {
      left: 5%;
      top: 90%;
      transform: translate(0, -100%) rotate(180deg);
    }
    75% {
      left: 5%;
      top: 90%;
      transform: translate(0, -100%) rotate(270deg);
    }

    99% {
      left: 5%;
      top: 0;
      transform: rotate(270deg);
    }
    100% {
      left: 5%;
      top: 0;
      transform: rotate(360deg);
    }
  }
}

@media only screen and (min-width: 768px) {
  form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .password input {
    display: block;
    margin: 5px auto;
  }

  .cat {
    top: 5%;
    left: 5%;
  }

  @keyframes fly {
    0 {
      left: 5%;
      top: 5%;
    }
    23% {
      left: 90%;
      top: 5%;
      transform: translate(-100%, 0);
    }

    25% {
      left: 90%;
      top: 5%;
      transform: translate(-100%, 0) rotate(90deg);
    }

    48% {
      left: 90%;
      top: 115%;
      transform: translate(-100%, -100%) rotate(90deg);
    }

    50% {
      left: 90%;
      top: 115%;
      transform: translate(-100%, -100%) rotate(180deg);
    }
    73% {
      left: 5%;
      top: 115%;
      transform: translate(0, -100%) rotate(180deg);
    }
    75% {
      left: 5%;
      top: 115%;
      transform: translate(0, -100%) rotate(270deg);
    }

    98% {
      left: 5%;
      top: 5%;
      transform: rotate(270deg);
    }
    100% {
      left: 5%;
      top: 5%;
      transform: rotate(360deg);
    }
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 20px;
    margin-top: 50px;
  }
  .password {
    display: flex;
    flex-direction: column;
  }
  .cat {
    top: -2%;
    left: 25%;
  }
  @keyframes fly {
    0 {
      left: 25%;
      top: -2%;
    }
    23% {
      left: 75%;
      top: -2%;
      transform: translate(-100%, 0);
    }

    25% {
      left: 75%;
      top: -2%;
      transform: translate(-100%, 0) rotate(90deg);
    }

    48% {
      left: 75%;
      top: 105%;
      transform: translate(-100%, -100%) rotate(90deg);
    }

    50% {
      left: 75%;
      top: 105%;
      transform: translate(-100%, -100%) rotate(180deg);
    }
    73% {
      left: 25%;
      top: 105%;
      transform: translate(0, -100%) rotate(180deg);
    }
    75% {
      left: 25%;
      top: 105%;
      transform: translate(0, -100%) rotate(270deg);
    }

    98% {
      left: 25%;
      top: -2%;
      transform: rotate(270deg);
    }
    100% {
      left: 25%;
      top: -2%;
      transform: rotate(360deg);
    }
  }
}
